# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/
.env

settings.py

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations
*/migrations/*
!*/migrations/__init__.py
